#nome {
    font-family: 'Averia Serif Libre', cursive;
}

body {
    font-family: 'Andada Pro', serif;
    background-color:#fef9ff;
}

.button {
    background-color: #616ca3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    line-height: 2;
    font-style: italic;
}
