footer {
  background: #00034c;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

/* Responsividade */

/* Para telas até 768px */
@media (max-width: 768px) {
  footer {
    padding: 0.75rem 0;
    font-size: 0.9rem;
  }
}

/* Para telas até 480px */
@media (max-width: 480px) {
  footer {
    padding: 0.5rem 0;
    font-size: 0.85rem;
  }
}
